input {
    border-radius: .3em;
    font-size: 1.25em;
    padding: .3rem 1rem;
    border: none;
    background-color: #ccc;
}

.error {
    color: rgba(255, 255, 255, .8);
    text-align: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .left-pane {
        flex: 0 0 20rem;
        max-width: 20rem;
        background-color: #111;
        height: 100%;
        border-right: .1rem solid #222;

        .select-repo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            // padding-top: 3rem;
            height: 100%;

            input {
                width: calc(100% - 2rem);
                margin: 1rem 1rem;
            }

            .repo-list {
                flex: 0 1 100%;
                margin: 0;
                background-color: #222;
                border-top: .1rem solid #222;
                height: 100%;
                width: 100%;
                color: white;
                font-size: 1em;
                overflow-y: auto;

                span {
                    display: block;
                    padding: .5rem 1rem;
                    transition: .2s;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, .1);

                        label:after {
                            opacity: 1;
                        }
                    }

                    label {
                        font-size: .8em;
                        color: #ddd;
                        display: block;

                        &:after {
                            opacity: 0;
                            content: '+add';
                            font-style: italic;
                            margin-left: .5rem;
                            transition: .2s;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }

    .main-list {
        background-color: #333;
        height: 100%;
        width: 100%;

        .repo-collection {
            padding: .25rem;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;

            .repo-card-empty, .repo-card {
                flex: 0 0 20rem;
                margin: .25rem;
                transition: .2s;
            }

            .repo-card {
                // height: 20rem;
                border: .06rem solid #444;
                color: white;
                background-color: #222;
                position: relative;
                overflow: hidden;
                animation: .3s card-drop-in forwards;

                .issue-list {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 20rem;
                    > span {
                        display: inline-block;
                        padding: .5rem .5rem;
                        transition: .2s;
                        width: 100%;

                        .issue-number {
                            padding: .1rem .2rem;
                            border-radius: .2em;
                            background-color: #555;
                        }

                        &:hover {
                            background-color: #333;
                        }
                    }
                }

                .add-issue, .stop-adding {
                    cursor: pointer;
                    display: block;
                    margin: .5rem;
                    text-align: center;
                    transition: .2s;
                    background-color: #777;

                    &:hover {
                        background-color: #999;
                    }
                }
                .add-issue {
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    font-size: 2em;
                    position: relative;

                    &:after {
                        position: absolute;
                        font-size: 1.5em;
                        font-weight: 100;
                        content: '+';
                        color: white;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                }

                .stop-adding {
                    border-radius: .2em;
                    margin-bottom: 1.6rem;
                    padding: .3rem 0;
                }


                .close {
                    position: absolute;
                    margin: 0;
                    top: .5rem;
                    right: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: .2s;

                    &:hover {
                        color: #ddd;
                    }
                }

                .repo-title {
                    background-color: #444;
                    padding: .5rem;

                    > * {
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .repo-owner {
                        font-size: 1em;
                    }
                    .repo-name {
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
}

@keyframes card-drop-in {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
